@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient {
    background: linear-gradient(to right, #ff9993, #fc7674, #fc4d74);
  }
  .hover-gradient-bg:hover {
    background: linear-gradient(to right, #ff9993, #fc7674, #fc4d74);
  }

  .hover-gradient:hover {
    background: linear-gradient(to right, #ff9993, #fc7674, #fc4d74);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}