@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient {
    background: linear-gradient(to right, #ff9993, #fc7674, #fc4d74);
  }
  .hover-gradient-bg:hover {
    background: linear-gradient(to right, #ff9993, #fc7674, #fc4d74);
  }

  .hover-gradient:hover {
    background: linear-gradient(to right, #ff9993, #fc7674, #fc4d74);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .button1{
    background: linear-gradient(to right, #FCD8D4, #F00E00, #FCD8D4);
    color: white;  

    padding: 8px 50px;
    border: 2px solid #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    cursor: pointer;
  }
  .button2 {
    display: inline-block;
    /* background: #fefefe; */
    color: black;  
    margin-right: 10px;
    padding: 8px 60px;
    border: 2px solid transparent;
    background-image: linear-gradient(#fefefe, #fefefe), linear-gradient(to right, #FCD8D4, #F00E00, #FCD8D4);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    cursor: pointer;
  }
  .button2:hover {
    background-image: linear-gradient(to right, #FCD8D4, #F00E00, #FCD8D4);
    color: white;
  }

  .switchButton {
    position: relative;
    height: 1.5rem;
    width: 3rem;
    border-radius: 9999px;
    appearance: none;
    cursor: pointer;
    background: #FF9993;
    transition: background 0.3s;
    transition: all .3s ease;
  }
  .switchButton input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .switchButton:checked {
    position: relative;
    margin-left: 10px;
    padding: 13px 30px;
    border: 3px solid #fff;
    border-radius: 9px;
    cursor: pointer;
    background: #FC4D74;

  }
  .switcht{

  }
  .slider{

  }
}